<p>
  DataBind my Bears
</p>

<div class="panel-heading">
  <span>Property and Event bindings</span>
</div>
<div class="panel-body"> 
  <div class="list-group">
    <div class="list-group-item">
      Property binding: change attribute of a node with changes in a property.[attribute]
    </div>
    <div class="list-group-item">
      Event binding: event handling via attributes of a node.(event)
    </div>
    <div class="list-group-item">
      <div [ngstyle] ="objectStyle" (click) ="changeStyles">

      </div>
    </div>
  </div>
</div>
